/* Cores projeto
    fundo -> #E2E8F0
    bases -> #0D1117
    destaques -> #E63946
*/


html{
    background-color: #E2e8F0;
    box-sizing: border-box;
}

#barraNavegacao{
    background-color: #0D1117;
    margin: 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#barraNavegacao button{
    border: none;
    background-color: #E63936;
    width: 90px;
    height: 40px;
    border-radius:30px;
    color: white;
}

#apresentacaoEmpresa{
    margin-top: 20%;
}


#galeriaServicos{
    background-color: #0D1117;
    width: 90%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#galeriaServicos button{
    width: 30%;
    height: 30%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#barraNavegacao img{
    width: 250px;
    height: 250px;
}