/* Cores projeto
    fundo -> #E2E8F0
    bases -> #111827
    destaques -> #d10e1e
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --background:#F1F5F9;
    --basePadrao: #111827;
    --bases: #111827;
    --destaques: #d10e1e;
}

/*Proporção de tipografia*/

p{
    font-size: 18px;
}

h1{
    font-size: 34px;
}

html{
    background-color: var(--background);
    height: 100vh;
}

#barraNavegacao{
    background-color: var(--basePadrao);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & ul{
        display: flex;
        color: transparent;
        width: 80%;
        justify-content: space-around;
    }
    & button{
        border: none;
        background-color: var(--destaques);
        width: 180px;
        height: 60px;
        font-size: 18px;
        border-radius:30px;
        color: white;
    }

    & img{
        width: 300px;
    }

    & input{
        display: none;
    }
}

#barraNavegacao a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}


#galeriaServicos{
    background-color: var(--bases);
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#galeriaServicos a img{
    width: 300px;
    height: 200px;
}

footer{
    background-color: var(--basePadrao);
    width: 100%;
    height: 100px;
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    & p{
        width: 100%;
    }
}

#galeriaServicos a{
    color: transparent;
    width: 500px;
    height: 250px;
    margin: 20px;
    background-image: url('../imgs/galeriaSprite.webp');
}

#galeriaServicos :nth-child(2){
    background-position: 500px 0;
}

#galeriaServicos :nth-child(3){
    background-position: 0 -250px;
}

#galeriaServicos :nth-child(4){
    background-position: 500px -250px;
}

#galeriaServicos :nth-child(5){
    background-position: 0 -510px;
}

#galeriaServicos :nth-child(6){
    background-position: 500px -510px;
}

#fotoEmpresa{
    width: 50%;
}

#apresentacaoEmpresa p{
    width: 40%;
}
#apresentacaoEmpresa{
    display: flex;
    background-color: var(--bases);
    margin-bottom: 30px;
    width: 100%;
    color: white;
    padding: 2.5% 5% 2.5% 5%;

    & div{
        display: flex;
        flex-direction: column;
    }

    & div p {
        width: 95%;
        height: 100%;
    }
}

#apresentacaoEmpresa div{
    display: flex;
}

#conteudoContato{
    width: 80%;
    height: 500px;
    color: black;

    & section{
        width: 80%;
        padding: 20px;
    }

    & section form :nth-child(odd){
        margin: 50px 0 50px 0;
    }

    & section form button{
        width: 35%;
        align-self: end;
        background-color: var(--destaques);
        color: white;
        
    }
}

#conteudoContato section form{
    display: flex;
    flex-direction: column;
}

@media  (max-width:1030px) {
    #barraNavegacao {
        flex-direction: column; 
        height: auto;
        min-height: 250px;

        & input{
            display: inline-block;
            width: 50px;
            height: 50px; 
            appearance: none;
            background-image: url('../imgs/down-arrow.webp');
            background-size: 100%;
        }

        & a{
            width: 100%;
            display: flex;
            justify-content: center;

            & button{
                width: 100%;
                border-radius: 0px;
                background-color: transparent;
            }
        }

        & ul{
            display: none;
        }

        & input:checked ~ ul{
            display: flex;
            flex-direction: column;
        }
        & img{
            width: 200px;
        }
    }

    main{
        margin-top: 300px;
    }

    #apresentacaoEmpresa{
        flex-wrap: wrap;
        align-items: center;
        
        & img{
            width: 500px;
        }
    }
}

